body  {
    font-size: 12px;
}

.material-icons {
    position: absolute;
    left: 10px;
    color: rgb(117, 117, 117);
}

.collection.with-header .collection-item {	
    color: rgba(0, 0, 0, 0.87);
	padding-left: 45px;
    position: relative;
}

.collection.with-header .collection-header {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    padding-left: 45px;
}

.collection a.collection-item:not(.active):hover {
    background-color: rgba(0,0,0,0.1);
}

.circle {
    border-radius: 50%;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 13px;
}

span.description {
    display: block;
    color: rgba(0, 0, 0, 0.54);
}

.collection.with-header.twitch-streams .collection-item {
    padding-left: 55px;
}